<html lang="es">

  <head>
    <title>Cumpleaños - Fernanda</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Delius+Unicase&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body id="inicio">
    <nav class="bg-light sticky-top">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4 text-center p-2">
            <!--<h2 class="text-style">MIS XV AÑOS</h2>-->
          </div>
          <div class="col-12 d-none d-md-block col-md-8 text-right">
            <ul class="mb-0">
              <li class="d-inline-block p-3"><a
                  href="#inicio"
                  class="lead text-secondary"
                >MIS XV AÑOS</a>
              </li>
              <li class="d-inline-block p-3"><a
                  href="#ubicacion"
                  class="lead text-secondary"
                >Ubicación</a>
              </li>
              <li class="d-inline-block p-3"><a
                  href="#asistencia"
                  class="lead text-secondary"
                >Asistencia</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-12 h-auto align-self-center text-center py-4 fondo-blanco">
                    <h1 class="name text-style">FERNANDA CHACÓN</h1>
                </div>
            </div>
        </div>
        <div>
            <img src="img/fer-1.png" class="img-fluid test" alt="Responsive image">
        </div>
        <div>
            <img src="img/fer-2.png" class="img-fluid" alt="Responsive image">
        </div>
    </header>

    <main>
      <div class="container">
        <div class="col-12 text-center mt-5">
          <h2 class="lead text-secondary text-style">TIENES UN PASE RESERVADO
            PARA UN VUELO DIRECTO A LOS XV AÑOS DE:
          </h2>
          <h1 class="text-style mt-4">FERNANDA CHACÓN</h1>
        </div>
        <div class="row">
          <div class="col-sm text-right pt-5">
            <div>
              <div class="col-12 text-left">
                <h2 class="lead text-secondary text-style">
                  <span style="color: #e4ab9a;">FECHA:</span>
                </h2>
                <h2 class="lead text-secondary text-style">
                  03 DE SEPTIEMBRE DE 2022
                </h2>
              </div>
              <div class="col-12 text-left">
                <h2 class="lead text-secondary text-style">
                  <span style="color: #e4ab9a;">HORA:</span>
                </h2>
                <h2 class="lead text-secondary text-style">
                  DESDE LAS 3:00 PM HASTA LAS 9:00 PM
                </h2>
              </div>
            </div>
          </div>
          <div class="col-sm py-5">
            <div>
              <div class="col-12">
                <h2 class="lead text-secondary text-center text-style">
                  <span style="color: #e4ab9a;">VUELO XV CLASE VIP</span>
                </h2>
                <h2 class="lead text-secondary text-center text-style">
                  POR FAVOR CONFIRMA TU ASISTENCIA EN EL FORMULARIO DE ABAJO O AL NÚMERO: <span style="color: #e4ab9a;">+584242474727</span>
                </h2>
              </div>
              <div class="col-12 text-center">
                <h3 class="text-style">VESTIMENTA FORMAL</h3>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div id="ubicacion" class="mb-5"></div>
      <div class="container">
        <div class="row pb-3 border-bottom">
          <div class="col-12 text-center pb-5 pt-3">
            <h1 class="d-inline-block text-style">UBICACIÓN</h1>
          </div>
          <div class="col-12 text-left">
            <h2 class="lead text-secondary text-style">
              <span style="color: #e4ab9a;"> LUGAR: SALÓN BOYACÁ </span>
            </h2>
          </div>
          <div class="col-12 text-left">
            <h2 class="lead text-secondary text-style">
              CIRCULO MILITAR DE CARACAS, FINAL AV. LOS PRÓCERES, BOULEVARD LAS
              AMÉRICAS, SANTA MÓNICA, CARACAS.
            </h2>
          </div>
          <div class="col-12 text-center map-responsive">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3923.3903293982794!2d-66.89942562963869!3d10.46986393890902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2a58b3e5e57819%3A0x14974f72af6a3eaa!2zMTDCsDI4JzA5LjEiTiA2NsKwNTMnNTMuNiJX!5e0!3m2!1sen!2sbo!4v1659731616130!5m2!1sen!2sbo"
              width="600"
              height="450"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row pb-3 border-bottom">
          <div class="col-12 text-center py-5">
            <h1 class="d-inline-block text-style">FALTAN</h1>
            <div id="cuenta-regresiva" class="text-style" style="color:#6c757d">
              <li><span id="day"></span>Dias</li>
              <li><span id="hour"></span>Horas</li>
              <li><span id="minutes"></span>Minutos</li>
              <li><span id="seconds"></span>Segundos</li>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="h-100" id="asistencia">
      <div class="container">
        <div class="row">
          <div class="col-12 offset-md-2 col-md-8">
            <div class="col-12 text-center pt-5 pb-2">
              <h1 class="d-inline-block text-style">CONFIRMA TU ASISTENCIA</h1>
            </div>
            <div class="col-12 pb-5">
              <form class="p-4 fondo_form">
                <!--<div class="form-group">
                                <label class="lead text-secondary" for="family"><h3>Familia Chacon</h3></label>
                                {{!-- <input type="text" disabled class="form-control shadow-sm" id="family"> --}}
                            </div>-->
                <h2
                  id="guestName"
                  style="color:black"
                  class="mb-4 text-style"
                ></h2>
                <div class="form-group mb-4">
                  <label for="guests" class="lead text-secondary">Cantidad de
                    Invitados:</label>
                  <select id="guests" class="form-control">
                    <option selected disabled>Seleccionar...</option>
                  </select>
                </div>
                <input id="id" name="id" type="hidden" value="" />
                <div class="form-group mt-5">
                  <input
                    type="submit"
                    value="CONFIRMAR"
                    id="btn-confirm"
                    class="btn btn-block btn-primary"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <div class="position-fixed btnWhatsapp">
      <a href="https://wa.me/584242474727" target="_blank">
        <img
          src="img/whatsapp.png"
          alt="Imagen de whatsapp"
          class="img-fluid"
        />
      </a>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script src="js/invitations.js"></script>
    <script src="js/index.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script
      src="plugins/jquery.countdown-2.2.0/jquery.countdown.min.js"
    ></script>

  </body>

</html>